[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user       = root
password   = 123456

[mysqld1]
user		= root
pid-file	= /var/run/mysqld/mysqld1.pid
socket		= /var/run/mysqld/mysqld1.sock
port		= 3307
datadir		= /var/lib/mysql/1
server-id   = 2

[mysqld2]
user		= root
pid-file	= /var/run/mysqld/mysqld2.pid
socket		= /var/run/mysqld/mysqld2.sock
port		= 3308
datadir		= /var/lib/mysql/2
server-id	= 3

[mysqld3]
user		= root
pid-file	= /var/run/mysqld/mysqld3.pid
socket		= /var/run/mysqld/mysqld3.sock
port		= 3309
datadir		= /var/lib/mysql/3
server-id	= 4
