.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.normal, .error {
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.normal{
    background-color: #1ebb1e
}


 .error{
    background-color: #f14141
}


